body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    padding: 8px;
    font-size: 17px;
    background-color: gray;

}

.feedback {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 2px solid lightgrey;
    border-radius: 4px;
}

.hover {
    background: #43a7d5;
    color: #fff;
    padding: 12px;
    border: 0;
    background-color: rgb(54, 122, 232);
}

span {

    background-color: rgba(255, 255, 255, 0);
    border: white;

}

h1 {

    text-align: center;
    size: 1000px;
    border: 20px;
    border-radius: 15px;
}

h4 {
    text-align: center;
    size: 100px;
    border: 20px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    size: 100px;
    border: 20px;
    border-radius: 15px;
}